@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
@import "../node_modules/bootstrap/scss/functions";



html,body,main{
    height: 100%;
    width: 100%;
}


#titulo{
    font-family: 'Arvo', serif;
    font-size:xx-large;
    font-weight: 700;
}
#telefono{
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: x-large;
}
span{
    color: black;
}
li{
    list-style:none;
    font-family: 'Times New Roman', Times, serif;
}

header{
    background-color: rgb(255, 178, 35);
}

hr{
    width: 80%;
    border-radius: 8px;
    background-color: rgb(255, 0, 0);
    /* opacity: 100%; */
}
.contenedor2{
    background-color: rgba(255, 166, 0, 0.466);
}
.accordion-body li{
    list-style: circle;
}

.contenedor3{
    background-color: rgba(255, 253, 127, 0.767);
}

#fondo{
    background-color: rgba(184, 65, 253, 0.507);
}
#contact{
    color: blueviolet;
    font-family: 'Arvo', serif;
    font-size:xx-large;
    font-weight: 400;
}

.contenedorM{
    background-color: rgb(200, 146, 250);
}

#buttonT{
    background-color: pink;
}

.contenedorH{
    background-color: rgb(154, 191, 247);
}

#buttonH{
    background-color: rgb(181, 255, 166);
}

#fondo2{
    background-color: rgb(141, 241, 241);
}

#contact2{
    color: rgb(49, 49, 255);
    font-family: 'Arvo', serif;
    font-size:xx-large;
    font-weight: 400;
}

#fondo3{
    background-color: rgba(244, 162, 255, 0.877);
}

#contact3{
    color: rgb(123, 17, 245);
    font-family: 'Arvo', serif;
    font-size:xx-large;
    font-weight: 400;
}

#niños{
    color: rgb(1, 159, 250);
    font-family: 'Arvo', serif;
    font-size:xx-large;
    font-weight: 400;
}

.contenedorN{
    background-color: rgb(255, 236, 196);
}

#niñas{
    color: rgb(250, 1, 196);
    font-family: 'Arvo', serif;
    font-size:xx-large;
    font-weight: 400;
}

#fondo4{
    background-color: rgba(233, 150, 122, 0.363);
}

#contact4{
    color: rgb(255, 83, 83);
    font-family: 'Arvo', serif;
    font-size:xx-large;
    font-weight: 400;
}