@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap');

#titulo{
    font-family: 'Playfair Display SC', serif;
    font-size: larger;
}
#telefono{
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: large;
}
span{
    color: black;
}
li{
    list-style:none;
    font-family: 'Times New Roman', Times, serif;
}