@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
@import "../node_modules/bootstrap/scss/functions";

html,body{
    height: 100%;
    width: 100%;
}


#titulo{
    font-family: 'Arvo', serif;
    font-size:xx-large;
    font-weight: 700;
}
#telefono{
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: x-large;
}
span{
    color: black;
}
li{
    list-style:none;
    font-family: 'Times New Roman', Times, serif;
}

header{
    background-color: rgb(255, 178, 35);
}

hr{
    width: 80%;
    border-radius: 8px;
    background-color: green;
    opacity: 100%;
}
.contenedor2{
    background-color: rgba(255, 166, 0, 0.479);
}
.accordion-body li{
    list-style: circle;
}

.contenedor3{
    background-color: rgba(255, 253, 127, 0.767);
}